<%- include("templates/head", { stylesheetPath:
['/styles/finalRecommend.css','/styles/nav.css','/styles/foot.css'] }) %> <%-
include("templates/nav") %>
<div class="content">
      <div>
        <p class="p1">Congrats on finishing your adventure!</p>
      </div>
      <div>
        <p class="p2">Based on your chosen adventure, we recommend the following games:</p>
      </div>
      <div class="game-cards">
        <div class="game-info">
          <div class="picture">
            <img src="mediaResources/1.jpg" alt="" />
          </div>
          <div class="options">
            <h1>Game 1</h1>
            <a href="#" style="--clr: #fceabb"
              ><span>View Details</span><i></i
            ></a>
            <a href="#" style="--clr: #fceabb"
              ><span>Already Played</span><i></i
            ></a>
            <a href="#" style="--clr: #fceabb"
              ><span>Add to Wishlist</span><i></i
            ></a>
          </div>
        </div><div class="game-info">
          <div class="picture">
            <img src="mediaResources/1.jpg" alt="" />
          </div>
          <div class="options">
            <h1>Game 1</h1>
            <a href="#" style="--clr: #fceabb"
              ><span>View Details</span><i></i
            ></a>
            <a href="#" style="--clr: #fceabb"
              ><span>Already Played</span><i></i
            ></a>
            <a href="#" style="--clr: #fceabb"
              ><span>Add to Wishlist</span><i></i
            ></a>
          </div>
        </div><div class="game-info">
          <div class="picture">
            <img src="mediaResources/1.jpg" alt="" />
          </div>
          <div class="options">
            <h1>Game 1</h1>
            <a href="#" style="--clr: #fceabb"
              ><span>View Details</span><i></i
            ></a>
            <a href="#" style="--clr: #fceabb"
              ><span>Already Played</span><i></i
            ></a>
            <a href="#" style="--clr: #fceabb"
              ><span>Add to Wishlist</span><i></i
            ></a>
          </div>
        </div>
      </div>
    </div>
 <%- include("templates/foot") %>