<%- include("templates/head", { stylesheetPath: ['/styles/login.css',
'/styles/nav.css','/styles/foot.css'] }) %> <%- include("templates/nav") %>
<div class="d-flex justify-content-center align-items-center vh-100">
  <form method="POST" action="/securityQuestion" style="width: auto">
    <div class="card text-center" style="width: 344px">
      <div class="card-header h5 text-white bg-dark">Password Reset</div>
      <div class="card-body px-5">
        <p class="card-text py-2">
          Enter the email address you registered with.
        </p>
        <div class="form-outline">
          <input type="email" name="email" class="form-control my-3" />
        </div>
        <button class="btn btn-dark w-100" type="submit">Submit</button>
        <div class="d-flex justify-content-between mt-4">
          <a
            class=""
            style="color: black"
            onclick="window.location.href='/login';"
            >Login</a
          >
          <a
            class=""
            style="color: black"
            onclick="window.location.href='/signup';"
            >Register</a
          >
        </div>
      </div>
    </div>
  </form>
</div>

<%- include("templates/foot") %>
