<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/index.css">
    <title>QuestQube</title>
</head>
<body>
    <div class="hero">
        <video autoplay loop muted plays-inline class="back-video">
            <source src="/mediaResources/video.mp4" type="video/mp4">
        </video>
        <nav>
            <img src="mediaResources/logo.png" alt="logo" class="logo">
            <button type="button" class="login-btn" href="login">Login</button>
        </nav>
        <div class="content">
            <h1>Start Your Quest</h1>
            <a href="signup">Start Exploring</a>

        </div>
    </div>

</body>
</html>