<%- include("templates/head", { stylesheetPath:
['/styles/initialRecommend.css','/styles/nav.css','/styles/foot.css'] }) %> <%-
include("templates/nav") %>

<div class="content">
  <div>
    <p style="font-size: xx-large; color: #fbdc6a; text-align: center">
      Welcome to the Game Recommender!
    </p>
  </div>
  <div class="picture">
    <img src="mediaResources/initial.png" alt="" />
  </div>
  <div class="prompt-card">
    <div class="prompt">
      <p>
        Welcome to the game recommender! This interactive game puts you in your
        own journey on a quest to determine what the perfect game for you is.
        Are you ready to start your adventure?
      </p>
    </div>
    <div class="options">
      <a href="/recommender" style="--clr: #fceabb"
        ><span>Begin your adventure now!</span><i></i
      ></a>
      <!-- <a href="#" style="--clr:#fceabb"><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, ad.</span><i></i></a>  
          <a href="#" style="--clr:#fceabb"><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, ad.</span><i></i></a> -->
    </div>
  </div>
</div>
<%- include("templates/foot") %>
