<%- include("templates/head", { stylesheetPath: ['/styles/login.css','/styles/nav.css','/styles/foot.css'] }) %>
<%- include("templates/nav") %>
<div class="login-form">
    <h1>Login</h1>
    <br>
    <form method="POST" action="/loginSubmit">
        <input type="email" name="email" placeholder="email" />
        <br>
        <br>
        <input type="password" name="password" placeholder="password" />
        <br>
        <br>
        <input type="submit" />
    </form>
</div>

<%- include("templates/foot") %>