<%- include("templates/head", { stylesheetPath: ['/styles/login.css'] }) %>

<div class="container">
    <h1><b>Login</b></h1>
    <br>
    <form method="POST" action="/loginSubmit">
        <input type="email" name="email" placeholder="email" />
        <br>
        <br>
        <input type="password" name="password" placeholder="password" />
        <br>
        <br>
        <input type="submit" />
    </form>
</div>

<%- include("templates/foot") %>