<%- include("templates/head", { stylesheetPath:
['/styles/promptScreen.css','/styles/nav.css','/styles/foot.css'] }) %> <%-
include("templates/nav") %>
<div class="content">
      <div class="picture">
        <img src="mediaResources/1.jpg" alt="" />
      </div>
      <div class="prompt-card">
        <div class="prompt">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi
            voluptates quis alias maiores quaerat laborum incidunt molestiae
            similique sint aut, a reiciendis molestias. Explicabo quos excepturi
            soluta provident, harum sed.
          </p>
        </div>
        <div class="options">
          <a href="#" style="--clr:#fceabb"><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, ad.</span><i></i></a>
          <a href="#" style="--clr:#fceabb"><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, ad.</span><i></i></a>  
          <a href="#" style="--clr:#fceabb"><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, ad.</span><i></i></a>
        </div>
      </div>
    </div>
    <%- include("templates/foot") %>