<%- include("templates/head", { stylesheetPath: ['/styles/login.css', '/styles/nav.css' ,'/styles/foot.css'] }) %>
    <%- include("templates/nav") %>

        <div class="container">
            <% if (error=='passwords do not match' ) { %>
                <div class="d-flex justify-content-center align-items-center vh-100">
                    <form method="GET" action="/forgotPassword">
                        <div class="card text-center" style="width: 300px;">
                            <div class="card-header h5 text-white bg-dark">Password confirmation does not match</div>
                            <div class="card-body px-5">
                                <button class="btn btn-dark w-100" type="submit">Try Again</button>
                                <div class="d-flex justify-content-between mt-4">
                                    <a class="" onclick="window.location.href='/login';">Login</a>
                                    <a class="" onclick="window.location.href='/signup';">Register</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <p class="my-5">Your password confirmation does not match. Please <a style="color:aqua"
                        onclick="history.back()"">try again</a>.</p>
    <% } else { %>
        <br><br>
    <% } %>
</div>

<%- include(" templates/foot") %>