<%- include("templates/head", { stylesheetPath: stylesheetPath }) %>
<div class="container mt-5">
        <div class="row">
            <%- include("templates/profile_picture") %>
            <!-- Wishlist -->
            <div class="col-lg-8 pb-5">
                <!-- Item-->
                <div class="cart-item d-md-flex justify-content-between"><span class="remove-item"><i class="fa fa-times"></i></span>
                    <div class="px-3 my-3">
                        <a class="cart-item-product" href="#">
                            <div class="cart-item-product-thumb"><img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Product"></div>
                            <div class="cart-item-product-info">
                                <h4 class="cart-item-product-title">Canon EOS M50 Mirrorless Camera</h4>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- Item-->
                <div class="cart-item d-md-flex justify-content-between"><span class="remove-item"><i class="fa fa-times"></i></span>
                    <div class="px-3 my-3">
                        <a class="cart-item-product" href="#">
                            <div class="cart-item-product-thumb"><img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="Product"></div>
                            <div class="cart-item-product-info">
                                <h4 class="cart-item-product-title">Apple iPhone X 256 GB Space Gray</h4>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- Item-->
                <div class="cart-item d-md-flex justify-content-between"><span class="remove-item"><i class="fa fa-times"></i></span>
                    <div class="px-3 my-3">
                        <a class="cart-item-product" href="#">
                            <div class="cart-item-product-thumb"><img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="Product"></div>
                            <div class="cart-item-product-info">
                                <h4 class="cart-item-product-title">HP LaserJet Pro Laser Printer</h4>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include("templates/foot") %>