<section class="footer">
<div class="container">
<div class="row">
    <div class="col-md-3">
        <img src="mediaResources/logo.png" alt="" class="footer-logo">
        <p>Our team, DTC-10, is developing QuestQube, a mobile web application to help gamers discover new games and connect with other gamers using an AI-powered interactive game recommender.</p>
    </div>
    <div class="col-md-3">
        <h4>Features</h4>
        <a href="#">Highlight</a>
        <a href="#">Recommendation</a>
        <a href="#">Reviews</a>
        <a href="#">Community</a>
    </div>
    <div class="col-md-3">
        <h4>Contact Us</h4>
        <p><i class="fa fa-phone-square fa-2x"></i>+1 888 888 8888</p>
        <p><i class="fa fa-envelope fa-2x"></i>QuestQube@gmail.com</p>
        <p><i class="fa fa-home fa-2x"></i>555 Seymour St, Vancouver</p>
    </div>
    <div class="col-md-3">
        <h4>Follow Us</h4>
        <p><i class="fa fa-facebook-official fa-2x"></i>Facebook</p>
        <p><i class="fa fa-youtube-play fa-2x"></i>Youtube</p>
        <p><i class="fa fa-instagram fa-2x"></i>Instagram</p>
    </div>

</div>
<hr><p class="copyright">Made With <i class="fa fa-heart"></i> By QuestQube Founders</p>
</div>
<footer class="mobile-footer">
     <div class="footer-icons">
    <a href="/" style="padding-left: 6px;"><i class="fa fa-home fa-4x"></i></a>
    <a href="/initialRecommend"><i class="fa fa-gamepad fa-4x"></i></a>
    <a href="#"><i class="fa fa-users fa-4x"></i></a>
  </div>
</footer>
</section>
</body>
</html>