<!-- <form autocomplete="off" action="/insert_page_here"> -->
<div class="autocomplete" style="width:300px;">
    <input class="game-search-input" id="game-search" type="text" name="game" placeholder="Search for a game..." required>
</div>
<input class="game-search-input" type="submit">
<!-- </form> -->
