<nav>
        <div class="nav-left">
            <a href="/"><img src="mediaResources/logo4.png" class="logo" alt=""></a>
            <ul>
                <li><a href="#">Highlights</a></li>
                <li><a href="#">Recommendation</a></li>
                <li><a href="#">Reviews</a></li>
                <li><a href="#">Community</a></li>         
            </ul>
        </div>
        <div class="nav-right">
            <div class="search-box">
                <img src="mediaResources/searchglass.png" alt="">
                <input type="text" placeholder="Search">
            </div>
            <div class="nav-user-icon">
                <a href="profile">
                    <img src="mediaResources/user.png" alt="">
                </a>
            </div>
        </div>
    </nav>