<div class="col-lg-4 pb-5">
    <!-- Account Sidebar-->
    <div class="card mb-4 mb-xl-0">
        <div class="card-header">Profile Picture</div>
        <div class="card-body text-center">
            <!-- Profile picture image-->
            <img class="img-account-profile rounded-circle mb-2"
                src="https://t4.ftcdn.net/jpg/05/09/59/75/360_F_509597532_RKUuYsERhODmkxkZd82pSHnFtDAtgbzJ.jpg"
                alt="">
            <!-- Profile picture help block-->
            <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
            <!-- Profile picture upload button-->
            <button class="btn btn-primary" type="button">Upload new image</button>
        </div>
        <div class="wizard">
            <!-- Wizard for different pages -->
            <nav class="list-group list-group-flush mb-0">
                <a class="list-group-item" href="/profile">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <div class="d-inline-block font-weight-medium text-uppercase">Profile Settings
                            </div>
                        </div>
                    </div>
                </a>
                <a class="list-group-item" href="/wishlist">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <div class="d-inline-block font-weight-medium text-uppercase">My Wishlist</div>
                        </div>
                    </div>
                </a>
                <a class="list-group-item" href="/favorites">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <div class="d-inline-block font-weight-medium text-uppercase">Favorite Games
                            </div>
                        </div>
                    </div>
                </a>
                <a class="list-group-item" href="https://www.bootdey.com/snippets/view/bs4-account-tickets">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <div class="d-inline-block font-weight-medium text-uppercase">Games History
                            </div>
                        </div>
                    </div>
                </a>
            </nav>
        </div>
    </div>
</div>