body {
    background-color: #000000;
    color: gold;
}

#post {
    background-color: #333333;
    color: gold;
    width: 70%;
}

#addPost {
    background-color: gold;
    color: black;
}

#addPost:hover {
    background-color: #333333;
    color: gold;
}

.custom-textarea {
    align-items: center;
    justify-content: center;
    background-color: rgba(235, 231, 231, 0.7);
    width: 100%;
    height: 30%;
}

#addPostForm {
    width: 70%;
}