@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    background: #232526;
    flex-direction: column;
    gap: 50px
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.options {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 20px 20px 20px
}

.options h1 {
    color: #FBDC6A;
    font-weight: 400;
    text-align: center;
    font-size: 2em;
    padding-bottom: 20px;
}

.p1 {
    color: #FBDC6A;
    font-size: 3em;
    letter-spacing: 0.1em;
    font-weight: 400;
    text-align: center;
}

.p2 {
    color: #FBDC6A;
    font-size: 2em;
    font-weight: 400;
    text-align: center;
}

.game-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px
}

.game-info {
    display: flex;
    flex-direction: row;
    border: 1px solid #FBDC6A;
    border-radius: 10px;


}

.game-info img {
    display: flex;
    justify-content: center;
    width: 200px;
}

.options a {
    position: relative;
    color: #FBDC6A;
    text-decoration: none;
    font-size: 1.5em;
    letter-spacing: 0.05em;
    font-weight: 300;
    padding: 0px 10px;
    border: 1px solid #FBDC6A;
    border-radius: 10px;
    transition: 0.5s;
    margin-bottom: 10px;
}

.options a:hover {
    background: var(--clr);
    color: var(--clr);
    letter-spacing: 0.12em;
    box-shadow: 0 0 35px var(--clr);
}

.options a:before {
    content: '';
    position: absolute;
    inset: 2px;
    background: #232526;
}

.options a span {
    position: relative;
    z-index: 1;
}

.options a i {
    position: absolute;
    inset: 0;
    display: block;
}

.options a i::before {
    content: '';
    position: absolute;
    top: 0;
    left: 80%;
    width: 10px;
    height: 4px;
    background: #232526;
    transform: translateX(-50%) skew(325deg);
    transition: 0.5s;
}

.options a:hover i::before {
    width: 20px;
    left: 20%;
}

.options a i::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 10px;
    height: 4px;
    background: #232526;
    transform: translateX(-50%) skew(325deg);
    transition: 0.5s;
}

.options a:hover i::after {
    width: 20px;
    left: 80%;
}

@media screen and (min-width: 768px) {
    nav {
        width: 100%;
    }

    .footer {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        z-index: 1
    }

    .content {
        margin-bottom: 160px;
        padding-left: 20px;
        padding-right: 20px;

    }

    .game-cards {
        flex-direction: column;

    }
    
    .options {
        padding: 0px 20px 0px 20px
    }

    .options a {
        font-size: 1.5em;
    }

    .game-info img {
       width:150px

    }
}