* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #292929;
    color: #D6AD60
}

.login-form {
    width: 400px;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    font-family: Arial, sans-serif;
    color: grey;
}

h1 {
    font-size: 70px;
    color: #D6AD60;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="email"],
input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 18px;
}

input[type="submit"] {
    background-color: #D6AD60;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: black;
    color: #D6AD60;
    transition: all 0.3s ease;
}


input[type="submit"]:focus {
    outline: none;
}

@media (min-aspect-ratio: 16/9) {
    .back-video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio) {
    .back-video {
        width: auto;
        height: 100%;
    }
}