body {
    background-color: #292929;
    color: #D6AD60;
}

.signup-form {
    width: 400px;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 18px;
    color: gray;
    height: 40px;
}

label {
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    text-align: left;
    width: 100%;
}

.signup-form button {
    background-color: #D6AD60;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.signup-form button:hover {
    background-color: black;
    color: #D6AD60;
    font-size: 20px;
}
#dropdown{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 18px;
    color: gray;
}
button:focus {
    outline: none;
}